* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url("../../clase-3/images/4665621-paisaje-de-montaña-con-ríos-y-bosques.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 150px;
  gap: 15px;
}

.accordion {
  margin-top: 250px;
}
